.members {
    padding-top: 10%;
}

.members-container {
    margin-left: 10%;
    margin-right: 10%;
}

.members-title {
    font-family: 'Pretendard-Regular';
    font-weight: 700;
}

.members-tabs {
    position: relative;
    margin-top: 120px;
    z-index: 5;
    background-color: transparent;
    color: white;
}

.members-tabs::after {
    z-index: 0;
    background-color: #ffffff;
}

.members-bg {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: -1;
    background-size: cover;
    background-image: url('../main_assets/members_background.png');
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
}

.tab-content {
    background-color: #ffffff;
    height: 60vh;
}

.nav-tabs {
    --mdb-nav-tabs-link-active-bg: transparent;
}