.members {
    padding-top: 10%;
}

.members-container {
    margin-left: 10%;
    margin-right: 10%;
}

.members-title {
    font-family: 'Pretendard-Regular';
    font-weight: 700;
}

.members-tabs {
    position: relative;
    margin-top: 120px;
    z-index: 5;
    background-color: white;
    color: black;
}

.members-tabs::after {
    z-index: 0;
    background-color: #ffffff;
}

.members-bg {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: -1;
    background-size: cover;
    background-image: url('../main_assets/members_background.png');
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: transparent;
    color: rgba(0, 0, 0, 0.8);
    overflow: hidden;
    opacity: 90%;
}

.tab-content {
    background-color: #ffffff;
}

.nav-tabs {
    --mdb-nav-tabs-link-active-bg: transparent;
}

.member-name {
    margin-left: 20%;
    padding-top: 5%;
    text-align: left;
    color: black;
}

.member-info {
    display: block;
    justify-content: left;
    text-align: left;
    margin-left: 20%;
    color: black;
}

.main-info {
    height: 60vh;
    background-color: #ffffff;
}

.education_background::after {
    background-color: #454955;
    z-index: 10;
}

.v-line {
    border-left : thin solid #000000;
    height : 20vh;
}