.member {
    padding-top: 10%;
    height: 100vh;
    font-family: 'Pretendard-Regular';
}

.member a {
    text-decoration: none;
    color: #3B71CA;
}

.member-profile {
    height: 50%;
    width: 50%;
}

.member-name {
    align-items: start;
}

.v-line3 {
    border-left : thin solid #000000;
    height : 80vh;
}