.publication {
    font-family: 'Pretendard-Regular';
    margin: 0;
    padding: 10%;
    height: 100vh;
}

.paper-content {
    height: 60vh;
    box-sizing: border-box;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

.conference-content {
    height: 60vh;
    box-sizing: border-box;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}