.publication {
    font-family: 'Pretendard-Regular';
    margin: 0;
    
}

.paper-content {
    height: 60vh;
    box-sizing: border-box;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

.conference-content {
    height: 60vh;
    box-sizing: border-box;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

.Lab-desc {
    background-color: rgba(249, 248, 233, 0.929);
}

.proj-desc {
    background-color: #FFE1C6;
}

.thumbnail-box {
    width: 10wh;
    border: 1px solid black;
}

.thumbnail-box img {
    width: 100%;
    box-sizing: border-box;
}